{% load staticfiles %}

<html lang="en">
<head>
  <title>Parking Managment System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Parking Management System</a>
</nav>
<div class="container">
  {% block content %}
  {% endblock %}
</div>
</body>
</html>
