{% extends 'base.html' %}

{% block content %}
    <table class="table table-borderless">
   <thead>
     <tr>
       <th>Spot Number</th>
       <th>Status</th>
     </tr>
   </thead>
   <tbody>
   {% for spot in spots %}
     <tr>
       <td>{{spot.spot_number}}</td>
       <td>{{spot.status}}</td>
       <td>
         {% if spot.status == 'Free' %}
             <a href="{% url 'reserve' spot.id %}">Reserve</a>
        {% endif %}
       </td>
     </tr>
   {% endfor %}

   </tbody>
 </table>
{% endblock %}
