{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="form-box">
        <h3>Reservation for {{ spot.spot_number }}</h3>
        <hr>
        {% crispy form %}
    </div>
{% endblock %}