.form-box{
    width: 500px;
    margin: auto;
}

h1{
    color: blue;
    background: pink;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th{
    text-transform: uppercase;
}